@font-face {
    font-family: 'Chomsky';
    src: url('../Fonts/Chomsky.otf') format('woff');
    /* Add additional font formats if available (e.g., woff2, ttf) */
    font-weight: 400;
    font-style: normal;
}
/* @media only screen and (max-width: 768px) {
    For mobile phones:
    [class*="col-"] {
      width: 100%;
    }
  }
   */

   ::-moz-selection { /* Code for Firefox */
    color: white;
    background: black ;
  }
  
  ::selection {
    color: white;
    background: black;
  }

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

li, a{
    font-family:'Chomsky', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav_links{
    list-style-type: none;
}

.nav_links li{
    display: inline-block;
    padding: 0vh 3em;
}

header{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0vh 2.5%;
    background-color: #10100A;
}

/* footer{
    margin-top: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    background-color: #BFAC75;
} */

footer{
    width:100%;
    position:bottom;
    padding: 1.5vh;
    background-color: #BFAC75;
    bottom: 0;
    text-align: center;
}
 
.banner {
    max-width: 100%;
    overflow: hidden;
}

.banner img {
    max-width: 100%;
    height: auto;
}

p{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    text-align: justify;
    font-size: 24px;
    width: 60%;
    
}

.container {
    display: flex; 
    margin: 5vh 7vw;
}

h1{ 
    text-decoration: none;
    font-weight: normal;
    padding-bottom: 3vh;
    font-size: 90px;
    font-family: Chomsky;
}

.headers {
    position: relative;
    padding:10px;
    font-family: Chomsky;
    font-size: 90px;
    margin-top: 11.5vh;
}

.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10vh auto;
    overflow: auto;
}

h2{
    text-decoration: none;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 3vh;
}

h5{
    text-decoration: none;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    margin-top: 3vh;
}

.arrow-container{
    position: relative; 
    text-align: center; 
    margin-top: 2vh; 
    font-size: xx-large;
  transition: transform 0.8s;
  }

.arrow {
    border: solid black;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 20px;
    transform-origin: 50% 50%;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arrow-container:hover {
    transform: scale(1.5);
  }

  html {
    scroll-behavior: smooth;
  }

  #hoverBrowse {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #FFF;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  #hoverBrowse:hover {
    color: black;
    box-shadow: inset 200px 0 0 0 white;
  }

  #hoverAbout {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #BFAC75;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  #hoverAbout:hover {
    color: black;
    box-shadow: inset 200px 0 0 0 white;
  }

  #hoverReview {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #928353;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  #hoverReview:hover {
    color: black;
    box-shadow: inset 200px 0 0 0 white;
  }

  #hoverContact {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #7A8FAA;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  #hoverContact:hover {
    color: black;
    box-shadow: inset 200px 0 0 0 white;
  }