@font-face {
    font-family: 'Chomsky';
    src: url('../Fonts/Chomsky.otf') format('woff');
    /* Add additional font formats if available (e.g., woff2, ttf) */
    font-weight: 400;
    font-style: normal;
}
/* @media only screen and (max-width: 768px) {
    For mobile phones:
    [class*="col-"] {
      width: 100%;
    }
  }
   */

   

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

li, .navlinks{
    font-family:'Chomsky', sans-serif;
    font-weight: 400;
    font-size: 1.7em;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav_links{
    list-style-type: none;
}

.nav_links li{
    display: inline-block;
    padding: 0vh 3em;
}

header{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0vh 2.5%;
    background-color: #10100A;
}

/* footer{
    margin-top: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    background-color: #BFAC75;
} */

footer{
    width:100%;
    position:bottom;
    padding: 1.5vh;
    background-color: #BFAC75;
    bottom: 0;
    text-align: center;
}
 
.banner {
    max-width: 100%;
    overflow: hidden;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.reviews {
    display: flex; 
    width: 80%;
    flex-direction: column;
    margin: 20vh 10%;
}

.reveiw{
    display: flex;
    flex-direction: column;
    margin: 0 0;
    padding: 0 0;
    
}

h1{ 
    text-decoration: none;
    font-weight: normal;
    font-family: Chomsky;
    font-size: 70px;
}
.headers {
    position: relative;
    padding:10px;
    font-family: Chomsky;
    font-size: 4.5em;
    margin-top: 11.5vh;
}

.line {
    width: 80%;
    height: 1px;
    background-color: #000; 
    margin: auto;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    border-bottom: solid;
    border-width: 2px;
    border-color: #000;
    padding-bottom: 10vh;
}

.link{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #BFAC75;
}

button{
    margin-top: 10vh;
    border-radius: 10px;
    border: none;
    background: #928353;
    font-family: Chomsky;
    align-self: center;
    color: aliceblue;
    font-size: 25px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
