
/* Custom CSS */
@font-face {
  font-family: 'Chomsky';
  src: url('../Fonts/Chomsky.otf') format('woff');
  /* Add additional font formats if available (e.g., woff2, ttf) */
  font-weight: 400;
  font-style: normal;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: black; /* Change the background color */
  color: white; /* Change the text color */
}

/* Change the color of text selection for Firefox */
::-moz-selection {
  background: black; /* Change the background color */
  color: white; /* Change the text color */
}

/*-------NAVBAR------------*/
/*-------NAVBAR------------*/
/*-------NAVBAR------------*/

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar-brand img {
  width: 150px; /* Adjust the size as needed */
}

.navbar-brand {
  padding-left: 20px; /* Adjust the padding to move the logo inward */
}


.navbar-nav .nav-link {
  font-family: 'Chomsky', sans-serif;
  font-size: 34px; /* Increase font size */
  margin-right: 100px;
}

.navbar.sticky {
  background-color: black;
}


/*-------NAVBAR END------------*/
/*-------NAVBAR END------------*/
/*-------NAVBAR END------------*/


/* Custom CSS */
.row-alternate .col-lg-6:nth-child(odd) {
  order: 2;
}
.row-alternate .col-lg-6:nth-child(even) {
  order: 1;
}
.row-alternate .col-lg-6 img {
  width: 100%;
  height: auto;
}

/* Custom CSS */
.row-alternate .col-lg-6 {
  padding: 0;
  min-height: 700px; /* Set a minimum height for the columns */
  margin:0;
}
.row-alternate .col-lg-6 img {
  width: 150%;
  margin: 0;
  height: 100%;
  object-fit: fill; /* Ensure the image covers the entire column */
}
.row-alternate .content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.photo-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.photo1 {
  background-image: url('../Images/rectangleBrowse.jpg');
  background-size: cover;
  background-position: center top;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.3)); 
}

.photo2 {
  background-image: url('../Images/rectangleReview.jpg');
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.3)); 
}

.photo3 {
  background-image: url('../Images/rectangleMuseums.jpg');
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.3)); 
}

.photo4 {
  background-image: url('../Images/rectangleNewsletter.jpg');
  background-size: cover;
  background-position: center top;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.3)); 
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  margin-left: 50px; /* Adjust as needed */
}

/* Adjust the margin for larger screens */
@media (min-width: 768px) {
  .text-container {
    margin-left: 100px; /* Example value */
  }
}

/* Style for header, paragraph, and button */
.text-container h2,
.text-container p,
.text-container button {
  margin: 10px 0;
}

.text-start {
  text-align: left !important;
}


/* ------------ FOOOTER --------------------- */
/* ------------ FOOOTER --------------------- */
/* ------------ FOOOTER --------------------- */
/* ------------ FOOOTER --------------------- */

.footer-01 {
  padding: 7em 0;
  background-image: url('../Images/footer-background-imageV2.svg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.footer-01:after {
  position: absolute;
  top: -300px;
  left: -100px;
  width: 800px;
  height: 800px;
  content: '';
  background: url(../images/blob-shape.svg);
  background-position: center center;
  background-size: cover;
  z-index: -1;
  opacity: .05;
}

.footer-01 a {
  color: rgb(219, 215, 215);
}

.footer-01 p {
  color: #fff;
}

.footer-01 .copyright {
  color: rgb(219, 215, 215);
}

.footer-01 .footer-heading {
  font-family: 'Chomsky', sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
}

.footer-01 .footer-heading:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 40px;
  height: 2px;
  background: #7A8FAA;
}

.footer-01 ul.list-unstyled li a {
  color: #fff;
}

.footer-01 .block-21 .text .heading a {
  color: #fff;
}

.footer-01 .block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
  text-decoration: none;
}

.footer-01 .block-21 .meta > div {
  display: inline-block;
  font-size: 12px;
  margin-right: -7%;
  margin-left: 10%;
}

.footer-01 .block-21 .meta > div a {
  color: rgb(219, 215, 215);
  
}

.block-21 .img {
  display: block;
  height: 80px;
  width: 80px;
}

.block-21 .text {
  width: calc(100% - 100px);
}

.block-21 .text .heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  padding-left: 10%;
}

.social-icon {
  font-size: 24px;
  color: white; /* Blue color */
  /* Additional styles */
  padding: 1%;
}

ul{
  margin: 0;
  padding: 0 !important;
}

.hovering-list-quick-links:hover{
  color: rgb(219, 215, 215) !important;
}

/* ------------ FOOOTER END--------------------- */
/* ------------ FOOOTER END--------------------- */
/* ------------ FOOOTER END--------------------- */
/* ------------ FOOOTER END--------------------- */